{% extends 'layout.html' %}
{% block banner %}

{% endblock %}

{% block content %}


    
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Sobre o projeto</h2>
        <p>Aquí você pode encontrar maiores informações sobre o projeto e sobre o conceito de sala de aula invertida.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
    
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <!--<p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>-->
            <p>O portal, construído a partir de um projeto de dissertação do programa de pós-graduação em Ensino de Ciências – UFF
            (Universidade Federal Fluminense), visa aumentar o envolvimento de docentes e alunos através do uso de metodologias
            ativas no processo de ensino-aprendizagem, com enfoque no Ensino híbrido e no modelo de sala de aula invertida.</p>
            <p>As tecnologias que emergiram a partir do século passado, modificaram a maneira de viver do ser humano, as relações
            interpessoais, as maneiras de se comunicar e, sobretudo, as maneiras de se aprender. Mas o local em que está centrada
            tal função na sociedade, a escola, pouco se modificou para acompanhar tais avanços. Portanto este portal quer convidar a
            você através de uma pergunta:</p>
            <h3>Que tal mudarmos um pouco a nossa aula tradicional?</h3>
            <p>Este conjunto de práticas pedagógicas elaboradas com a temática nas ISTs (Infecções sexualmente transmissíveis) busca
            auxiliar os professores na construção de atividades que conferirão maior protagonismo aos estudantes.</p>
            <p>Mas calma! Não é o intuito deste site dizer o que o professor tem que fazer. O portal possui espaços editáveis para que
            você possa conduzir a sua aula como desejar, adicionando reportagens, vídeos e tudo que achar pertinente para que nossos
            alunos estejam cada dia mais engajados no tema, e o principal, cuidando da sua saúde e de seus parceiros!</p>
            <!--<ul>
              <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.
              </li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>-->
    
          </div>
        </div>
    
      </div>
    </section><!-- End About Section -->
   

    <!-- ======= Cource Details Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
      <div class="container" data-aos="fade-up">
    
        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">A sala de aula invertida</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Ensino sobre infecções sexualmente transmissíveis</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>A sala de aula invertida</h3>
                    <!--<p class="font-italic">Texto falando sobre ISTs
                      <a href="internaCurso.html" class="get-started-btn">Iniciar Aula</a>
                    </p>-->
                    <p>As metodologias ativas são conjuntos de atividades que colocam o estudante no centro do processo de aprendizagem,
                    tornando-o protagonista da sua própria construção do conhecimento. Nossa proposta é aumentar este protagonismo do aluno
                    através da metodologia de sala de aula invertida.</p>
                    <p>Mas como funciona essa metodologia?</p>
                    <p>Primeiramente é importante ressaltar que esta não é uma metodologia nova, muitas vezes fora utilizada através de
                    leituras de textos impressos direcionada pelos professores, que preparavam desta forma os alunos para o momento em sala
                    de aula.</p>
                    <p>No entanto, dois professores de química da Woodland Park High School (Colorado, EUA), Jonathan Bergman e Aaron Sams,
                    esbarravam em problemas como falta de tempo e demais atividades dos alunos para alcançar os aproveitamentos desejados na
                    disciplina. Foi desta forma que utilizando a metodologia da sala de aula invertida incluíram as tecnologias digitais da
                    informação e comunicação (TDIC) e propiciaram a esta metodologia novas formas de construir e compartilhar as informações
                    aos alunos.</p>
                    <p>Na era digital, utilizar a internet não mais como uma inimiga da educação, mas sim como uma aliada, se mostra de suma
                    importância para vencer barreiras e propiciar uma sala de aula mais crítica e ativa.
                    Que tal aprendermos como funciona esta metodologia?</p>
                    <p>AS VANTAGENS NO USO DA SALA DE AULA INVERTIDA:</p>
                    <ul>
                      <li><i class="icofont-check-circled"></i> A inversão possibilita o professor conhecer melhor os alunos</li>
                      <li><i class="icofont-check-circled"></i> A inversão aumenta a personalização</li>
                      <li><i class="icofont-check-circled"></i> A inversão aumenta a interação aluno-aluno</li>
                      <li><i class="icofont-check-circled"></i> A inversão respeita o ritmo dos alunos</li>
                      <li><i class="icofont-check-circled"></i> A inversão ajuda alunos ocupados</li>
                      <li><i class="icofont-check-circled"></i> A inversão possibilita mesclar diferentes metodologias ativas</li>
                    </ul>
                  </div>

                  <!--<div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                  </div>-->
                </div>
              </div>

              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Ensino sobre infecções sexualmente transmissíveis</h3>
                   
                    <p>O ensino sobre as Infecções sexualmente transmissíveis é de suma importância para a sociedade como um todo. A
                    organização mundial da saúde comenta sobre as preocupações com relação a faixa etária da infância e adolescência e os
                    problemas relacionados as infecções sexualmente transmissíveis. <a href="https://www.who.int/health-topics/adolescent-health#tab=tab_2">De acordo com a instituição, os riscos para os jovens de
                    15 a 19 anos estão associados à comportamentos como uso do álcool e o sexo inseguro.</a></p>
                    <p>Sobre este último, a Base nacional comum curricular (BNCC) se preocupa, portanto, em promover uma educação preventiva,
                    pois inclui em seu currículo as habilidades e competências relacionadas à temática já nos anos finais do ensino
                    fundamental, de modo a possibilitar maior preparo e consciência destes ao iniciar a faixa etária referida acima.</p>
                    <p>Diante da delicadeza e importância da temática, explorar recursos e novas metodologias que facilitem aos professores e
                    alunos estabelecer um diálogo proveitoso de modo a sanar as dúvidas, é de suma importância para atingir os objetivos
                    centrais da temática, cuidando e orientando nossos alunos. O Professor Jean Carlos Miranda, da Universidade Federal
                    Fluminense corrobora ao comentar em seu trabalho que:</p>
                    <p class="font-italic">‘‘Independentemente do nível de ensino dos alunos da educação básica, tratar de temas como doenças sexualmente
                    transmissíveis (DST) não é um processo simples. O Ensino Fundamental Regular apresenta o complicador do baixo
                    desenvolvimento psicossocial para lidar com temas, que para os alunos é constrangedor. Utilizando o lúdico para
                    modificar a forma de abordagem desse tema, é possível alcançar objetivos didáticos e a construção de conhecimento de
                    forma dinâmica e sólida’’
                    </p>
                    <p><a href="https://dialnet.unirioja.es/servlet/articulo?codigo=6548911">(Miranda et al, 2018)</a></p>
                    <p>Portanto, o presente portal tem como objetivo propiciar aos docentes e alunos novas atividades que rompam com a aula
                    tradicional e aborde a temática das IST de forma lúdica e cooperativa entre alunos através da inversão da sala de aula
                    de aula.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
    
      </div>
    </section><!-- End Cource Details Tabs Section -->
    
    
{% endblock %}


    