{% extends 'layout.html' %}
{% block banner %}

{% endblock %}

{% block content %}


    {% for aluno in object_list %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Detalhes do curso</h2>
        <p>Olá {{ aluno.nomeAluno }}, aquí estarão listados os dados específicos do curso em questão.</p>
      </div>
    </div><!-- End Breadcrumbs -->
    {% endfor %}

    
    {% for turma in cursolista %}


    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">
            <img src="/media/{{ turma.cursoTurma.imagemCurso }}" class="img-fluid" alt="">
            <h3>{{ turma.cursoTurma.nomeCurso }}</h3>
            <p>
              Texto explicativo sobre o curso e as aulas blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla.
            </p>
          </div>
          <div class="col-lg-4">

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Professor:</h5>
              <p><a href="#">{{ turma.cursoTurma.professorCurso.nomeProfessor }}</a></p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Status</h5>
              <p>Inscrito</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Aulas</h5>
              <p>{{ turma.cursoTurma.aulaCurso.all|length }}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Turma</h5>
              <p>BUM</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Course Details Section -->

    <!-- ======= Cource Details Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              
              {% for aula in turma.cursoTurma.aulaCurso.all %}
              
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-{{aula.pk}}">{{ aula.nomeAbreviadoAula }}</a>
              </li>
              {% endfor %}

            </ul>
          </div>
          
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              
              {% for aula in turma.cursoTurma.aulaCurso.all %}
              
              <div class="tab-pane" id="tab-{{aula.pk}}">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>{{ aula.nomeCompletoAula }}</h3>
                    <p class="font-italic">{{ aula.textoAula }}
                    <a href="internaCurso.html" class="get-started-btn">Iniciar Aula</a></p>
                    <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>

              {% endfor %}

              <div class="tab-pane active pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Sua aula navegue blabla</h3>
                    <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                    <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <!--<div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                    <p class="font-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                    <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-3.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                    <p class="font-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                    <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-4.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                    <p class="font-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                    <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Cource Details Tabs Section -->
    {% endfor %}


{% endblock %}


    