{% extends 'layout.html' %}
{% block banner %} 


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    {% if request.user.is_authenticated %}
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h5 style="color: red; font-size: 1.15em;">Seja bem-vindo Aluno, você já está logado.</h5>
      <!--<h1>Learning Today,<br>Leading Tomorrow</h1>
      <h2>We are team of talented designers making websites with Bootstrap</h2>
      <a href="courses.html" class="btn-get-started">Get Started</a>-->
        
    </div>
    {% else %}
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h5 style="color: red; font-size: 1.15em;">Acesse a sua conta abaixo:</h5>
      <!--<h1>Learning Today,<br>Leading Tomorrow</h1>
          <h2>We are team of talented designers making websites with Bootstrap</h2>
          <a href="courses.html" class="btn-get-started">Get Started</a>-->
      <div class="col-lg-12 mt-5 mt-lg-0">
    
        <form method="post">{% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Login">
        </form>
    
      </div>
    </div>
    {% endif %}
  </section><!-- End Hero -->

{% endblock %}

{% block content %} 

<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Sobre</h2>
          <p>O projeto</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Escrever um texto sobre o projeto aqui.</h3>
            <p class="font-italic">
              Texto Resumido sobre o projeto geral...
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              O link abaixo leva para uma página com a descrição completa do projeto.
            </p>
            <a href="about.html" class="learn-more-btn">Leia Mais</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1232</span>
            <p>Números</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">64</span>
            <p>Do</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">42</span>
            <p>Projeto</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p>Outro</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

{% endblock %}