{% extends 'layoutb.html' %}
{% load static %}
{% block banner %}

{% endblock %}

{% block container %}
<section id="course-details" class="course-details">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-4">
        <div id="box-porta">
          <div class="interno">
          <p>Dr. Aluno</p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4">
        <a href="#">
          <div id="box-porta">
            <div class="interno">
              <p>Dr. Aluno</p>
            </div>
          </div>      
        </a>
      </div>
    </div>

  </div>
</section><!-- End Cource Details Section -->
{% endblock %}