{% extends 'layoutb.html' %}
{% load static %}
{% block banner %}

{% endblock %}

{% block banner-sala %}
<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h3>Escrever qualquer coisa aqui</h3>
  </div>
</div><!-- End Breadcrumbs -->
{% endblock %}

{% block banner-sala-interno %}
<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h3>Escrever qualquer coisa aqui</h3>
  </div>
</div><!-- End Breadcrumbs -->
{% endblock %}

{% block container %}
<section id="course-details" class="course-details">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-4">
        <div id="box-porta">
          <div class="interno">
          <p>Dr. Aluno</p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4">
        <a href="#" class="btn_nav sala_link">
          <div id="box-porta">
            <div class="interno">
              <p>Dr. Aluno</p>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
</section><!-- End Cource Details Section -->
{% endblock %}

{% block container-sala %}
<section id="course-details" class="course-details">
  <button class="btn_nav sala-interna_link">Próxima</button>
</section><!-- End Cource Details Section -->
{% endblock %}

{% block container-sala-interna %}
<section id="course-details" class="course-details">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6">
        <div id="box-prancheta">
          teste
        </div>
      </div>

      <div class="col-lg-4">
        <div id="box-balao">
          Chat do Grupo
        </div>
        
      </div>
    </div>

  </div>
</section><!-- End Cource Details Section -->
{% endblock %}