{% extends 'layoutc.html' %}
{% load static %}
{% block banner %}

{% endblock %}

{% block banner-sala %}
<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h3>Escrever qualquer coisa aqui</h3>
  </div>
</div><!-- End Breadcrumbs -->
{% endblock %}

{% block banner-sala-interno %}
<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h3>Escrever qualquer coisa aqui</h3>
  </div>
</div><!-- End Breadcrumbs -->
{% endblock %}

{% block container %}
<section id="course-details" class="course-details">
  <div class="container" data-aos="fade-up">

    <div class="container aos-init aos-animate" data-aos="fade-up">
    
      <div class="row">
        <div class="col-lg-6">
          <div id="box-quiz">
            <script>
              var linha = [];
              var dados = [];
            </script>
            {% for quiz in object_list %}
              <!--<h4>QUESTÃO 1</h4>
              <h5>{{ quiz.pergunta }}</h5>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  {{ quiz.respostaA }}
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  {{ quiz.respostaB }}
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  {{ quiz.respostaC }}
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  {{ quiz.respostaD }}
                </label>
              </div>
              <button id="anterior" disabled>&lsaquo; Anterior</button>
              <span id="numeracao"></span>
              <button id="proximo" disabled>Próximo &rsaquo;</button>
            -->
            <script>
              var opcaoA = "<div class='form - check'><input class= 'form-check-input' type = 'radio' name = 'exampleRadios' id = 'exampleRadios1' value = 'option1'><label class='form-check-label' for='exampleRadios1'>{{ quiz.respostaA }}</label></div >";
              var opcaoB = "<div class='form - check'><input class= 'form-check-input' type = 'radio' name = 'exampleRadios' id = 'exampleRadios1' value = 'option2'><label class='form-check-label' for='exampleRadios1'>{{ quiz.respostaB }}</label></div >";
              var opcaoC = "<div class='form - check'><input class= 'form-check-input' type = 'radio' name = 'exampleRadios' id = 'exampleRadios1' value = 'option3'><label class='form-check-label' for='exampleRadios1'>{{ quiz.respostaC }}</label></div >";
              var opcaoD = "<div class='form - check'><input class= 'form-check-input' type = 'radio' name = 'exampleRadios' id = 'exampleRadios1' value = 'option4'><label class='form-check-label' for='exampleRadios1'>{{ quiz.respostaD }}</label></div >";
              linha = ["<h5>{{ quiz.pergunta }}</h5>", opcaoA, opcaoB, opcaoC, opcaoD];
              dados.push(linha);
              console.log(dados)
            </script>
            {% endfor %}
            <table>
              <thead>
                
              </thead>
              <tbody>
                <tr>
                  <td colspan="2" align="center">Sem quiz cadastrado</td>
                </tr>
              </tbody>
            </table>
            <button id="anterior" disabled>&lsaquo; Anterior</button>
            <span id="numeracao"></span>
            <button id="proximo" disabled>Próximo &rsaquo;</button>
            
          </div>
          
        </div>
    
        <div class="col-lg-4">
          
        </div>
      </div>
    </div>
  </div>
</section><!-- End Cource Details Section -->
{% endblock %}

{% block container-sala %}
<section id="course-details" class="course-details">
  <button class="btn_nav sala-interna_link">Próxima</button>
</section><!-- End Cource Details Section -->
{% endblock %}

{% block container-sala-interna %}
<section id="course-details" class="course-details">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6">
        <div id="box-prancheta">
          teste
        </div>
      </div>

      <div class="col-lg-4">
        <div id="box-balao">
          Chat do Grupo
        </div>
        
      </div>
    </div>

  </div>
</section><!-- End Cource Details Section -->
{% endblock %}