{% extends 'layoutb.html' %}
{% load static %}
{% block banner %}

{% endblock %}

{% block banner-sala %}
<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h3>Escrever qualquer coisa aqui</h3>
  </div>
</div><!-- End Breadcrumbs -->
{% endblock %}

{% block banner-sala-interno %}
<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h3>Escrever qualquer coisa aqui</h3>
  </div>
</div><!-- End Breadcrumbs -->
{% endblock %}

{% block container %}
<section id="course-details" class="course-details">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-4">
        <div id="box-porta">
          <div class="interno">
            <p>Dr. Aluno</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <a href="#" class="btn_nav sala_link">
          <div id="box-porta">
            <div class="interno">
              <p>Dr. Aluno</p>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
</section><!-- End Cource Details Section -->
{% endblock %}

{% block container-sala %}
<section id="course-details" class="course-details">
  <button class="btn_nav sala-interna_link">Próxima</button>
</section><!-- End Cource Details Section -->
{% endblock %}

{% block container-sala-interna %}
<section id="course-details" class="course-details">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6">
        <div id="box-prancheta">
          <div id="box-prancheta-interno">
            <div class="topico-prancheta">
              <div class="thumb-aluno">
                <img src="/static/img/trainers/nerdglasses.jpg" class="img-fluid" alt="">
              </div>
              <p> Nome do Aluno</p>
            </div>
            <div class="topico-prancheta">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  <h5>Sintoma 1</h5>
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  <h5>Sintoma 2</h5>
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  <h5>Sintoma 3</h5>
                </label>
              </div>
            </div>

            <div class="topico-prancheta">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Diagnóstico Final" aria-label="Recipient's username"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">+</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div id="box-balao">
          Chat do Grupo - {{room}}
          <div id="display">
          
            <!-- Aqui aparecem mensagens salvas no bate papo-->
          
          </div>

        </div>
        <div class="container">
        
          <form id="post-form">
            {% csrf_token %}
            <input type="hidden" name="username" id="username" value="{{username}}" />
            <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}" />
            <input type="text" style="width: 430px; padding: 12px 0px; box-sizing: border-box;" name="message" id="message" />
            <input type="submit" style="float: left;" value="Enviar">
          </form>
        </div>


      </div>
    </div>

  </div>

<style>

.time-left {
  color: #999;
}

#display {
  float: left;
  text-align: left;
  color: #999;
}
</style>
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

<script>
$(document).ready(function(){

setInterval(function(){
    $.ajax({
        type: 'GET',
        url : "/getMessages/{{room}}/",
        success: function(response){
            console.log(response);
            $("#display").empty();
            reverter = response.messages.reverse();
            for (var key in reverter)
            {
                dataCompleta = new Date(reverter[key].date).toLocaleString()
                var temp="<span class='time-left'>" + dataCompleta + "&nbsp;&nbsp;-&nbsp;&nbsp;</span><b>"+reverter[key].user+": </b>"+reverter[key].value+"<br>";
                $("#display").append(temp);
            }
        },
        error: function(response){
            alert('An error occured')
        }
    });
},1000);
})
</script>

<script type="text/javascript">
  $(document).on('submit','#post-form',function(e){
    e.preventDefault();

    $.ajax({
      type:'POST',
      url:'/send',
      data:{
          username:$('#username').val(),
          room_id:$('#room_id').val(),
          message:$('#message').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
         //alert(data)
      }
    });
    document.getElementById('message').value = ''
  });
</script>

</section><!-- End Cource Details Section -->
{% endblock %}